[submodule "CoTeTo"]
	path = CoTeTo
	url = https://github.com/UdK-VPT/CoTeTo.git
	branch = master
[submodule "Modelica"]
	path = Modelica
	url = https://github.com/UdK-VPT/BuildingSystems.git
	branch = master
[submodule "BuildingSystems"]
	path = BuildingSystems
	url = https://github.com/UdK-VPT/BuildingSystems.git
	branch = master
[submodule "Buildings"]
	path = Buildings
	url = https://github.com/lbl-srg/modelica-buildings.git
	branch = master
